<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 
		XML파일
		IOC컨테이너에 적재 될 bean객체 생성과 injection (DI)
		
		<bean id="emp" ..
		<bean name="emp, emp2" ..
		
		id속성, name속성 : 객체의 이름(식별자)
		
		**SpringMVC 오면 id, name 속성이 (mapping)주소로 변경
		id, name = >url_pattern
		
		<bean id="/hello.htm" class="boardcontroller"
		/hello.htm >> mapping 주소
		
		
		>> View를 설정하는 친구를 만들자
			=ViewResolver : 담당역할 : view설정을 담당
			org.springframework.web.servlet.view.InternalResourceViewResolver
			
		
	 -->	
	
	<bean id="/hello.htm" class="kr.or.bit.HelloController"></bean>
	<bean id="/intro.htm" class="kr.or.bit.IntroController"></bean>
	
	<bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/views/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	
	<!-- 
		mav.setViewName("Hello"); 
		/WEB-INF/views/ + Hello + .jsp  
		view주소값: /WEB-INF/views/Hello.jsp
	-->
	
</beans>


