<?xml version="1.0" encoding="UTF-8"?>
<beans 
   xmlns="http://www.springframework.org/schema/beans"
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:aop="http://www.springframework.org/schema/aop"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans.xsd
                     http://www.springframework.org/schema/context
                     http://www.springframework.org/schema/context/spring-context.xsd
                     http://www.springframework.org/schema/aop
                     http://www.springframework.org/schema/aop/spring-aop.xsd">

  <aop:aspectj-autoproxy />  
  <bean id="calc" class="AOP_Annotation.NewCalc"/>  
  <bean id="calcAOP" class ="AOP_Annotation.CalcAOP"/>
  
 <!-- 
	AspectJ라이브러리를 이용한 Proxy 객체를 생성
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
		
	XML 방식으로 AOP 기능을 설정할 때 사용 : 이 예제에는 어노테이션을 사용하므로 필요없긴 하다.
	<aop:config></aop:config> 
-->

</beans>
