<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>WebJSP</display-name>
  
  <!-- http://localhost:8090/WebJSP -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<description>기본적인 설명을 하자면..</description>
  	<param-name>emai l</param-name>
  	<param-value>webmaster@bit.or.kr</param-value>
  </context-param>
  
  <context-param>
  	<description>파일저장경로</description>
  	<param-name>Filepath</param-name>
  	<param-value>C:\\web\\download</param-value>
  </context-param>
  
  <context-param>
  	<description>그냥 제목</description>
  	<param-name>id</param-name>
  	<param-value>selim0915</param-value>
  </context-param>
  
  <!-- 
  context-param으로 만든 변수는 각 페이지에 어떻게 가져다 쓸까?
  application객체를 사용해서 xml 가지고 있는 parameter값을 read
   -->
   
   <!-- 
   WebApp전체 페이지에서 발생하는 Error처리 통합처리할수 있다.
   1. 상태코드 (404, 500) 304(페이지 수정했다는 정보) 정상(200~299)
   2. 예외객체에 따라서 페이지 설정..
   
   최종 배포시에만 설정하기 (개발 도중에는 에러를 봐야징)
    -->
  <error-page>
  	<error-code>404</error-code>
  	<location>/error/error404.jsp</location>
  </error-page>
  
  <error-page>
  	<error-code>500</error-code>
  	<location>/error/error500.jsp</location>
  </error-page>
  
  
</web-app>